*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-body{
    width: 40%;
    margin: auto;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em 0.1em 1em 0.1em;
    background: rgb(84, 110, 171);
    border-radius: 10px;
    box-shadow: 2px 2px 3px black;
}

@media (max-width: 1000px) {
    .main-body{
        width: 90%;
    }
}

.body{
    width: 65%;
    margin: 1% auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}